button {
    width: 200px;
    height: 30px;
    margin: 5px;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 100px;
    margin: auto;
    font-size: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
button:hover {
    background-color: rgb(140, 214, 211);
}
