.contador{
    width: 300px;
    height: 300px;
    margin: auto;
    font-size: 160px;
    padding: 25px;
   background-color: aquamarine;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 10px solid beige;
  
  }